@charset "UTF-8";

/* 
    Author: Caio Maximiano Carvalho
    Date: 1/30/2025
*/

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, white 90%, #2c7edb);
    color:black;
    font-style: normal;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

h1 {
    font-style: italic;
}

section {
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 50px;
}

li {
    margin-top: 15px;
    text-align: left;
}

.educationDate {
    margin-top: -15px;
}

.resumeList li {
    margin: auto;
    margin-bottom: 5px;
}

#img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#codingImg {
    height: 200px
}

#hockeyImg {
    height: 140px
}