@charset "UTF-8";

/* 
    Author: Caio Maximiano Carvalho
    Date: 1/30/2025
*/

body {
    height: 100%;
    background-color: white;
    color:black;
    font-style: normal;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

h1 {
    font-style: italic;
}

section {
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 50px;
}

li {
    margin-top: 15px;
    text-align: justify;
}

.educationDate {
    margin-top: -15px;
}

.resumeList li {
    margin: auto;
    margin-bottom: 5px;
}

